In [1]:
import pandas as pd
import numpy as np
import sqlite3
from tqdm.notebook import tqdm

In [2]:
# establish database connection
conn = sqlite3.connect('/datadrive/lobby99/download/shufersalist.db')
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type ='table' AND name NOT LIKE 'sqlite_%'", conn)
tables=tables['name'].tolist()
tables

['shufersalPrices',
 'ramiLeviPrices',
 'victoryPrices',
 'snifim',
 'osherAdPrices',
 'yohananofPrices',
 'sapaks',
 'yenotBitanPrices',
 'yohananof1Prices']

In [3]:
priceTables=['shufersalPrices',
 'ramiLeviPrices',
 'victoryPrices',
 'osherAdPrices',
#  'yohananofPrices',
 'yenotBitanPrices',
 'yohananof1Prices']
df=pd.DataFrame()
with tqdm(total=len(priceTables)) as pbar:
    for p in priceTables:
        pbar.set_description('Processing: %s' % p)
        pbar.update(1)
        q=pd.read_sql_query("SELECT * FROM %s" % p, conn)
        q['vendor']=p
        df=df.append(q)
df

  0%|          | 0/6 [00:00<?, ?it/s]

,filename,store_id,upload_date,PriceUpdateDate,ItemCode,ItemName,ManufacturerName,ManufactureCountry,ManufacturerItemDescription,UnitQty,Quantity,UnitOfMeasure,ItemPrice,UnitOfMeasurePrice,AllowDiscount,vendor
0,PriceFull7290027600007-002-202111180330,002,2021-11-18,2018-08-10 00:54,11182700954,שעועית שחורה 439 גרם,האנאובר פודס קורפורשיין,US,שעועית שחורה439ג,גרמים,439.00,100 גרם,10.9,2.4800,1,shufersalPrices
1,PriceFull7290027600007-002-202111180330,002,2021-11-18,2019-12-22 10:39,11210000032,"רוטב טבסקו משפחתי 360מ""ל",ניצן,US,רוטב טבסקו,מיליליטרים,360.00,"100 מ""ל",49.9,13.8600,1,shufersalPrices
2,PriceFull7290027600007-002-202111180330,002,2021-11-18,2017-02-07 09:45,11210000094,"רוטב טבסקו 60 מ""ל",ניצן,US,רוטב טבסקו,מיליליטרים,60.00,"100 מ""ל",12.8,21.3300,1,shufersalPrices
3,PriceFull7290027600007-002-202111180330,002,2021-11-18,2020-08-07 00:57,11210618503,טבסקו סקורפיון חריף 60מל,ניצן,US,טבסקו סקורפיון,מיליליטרים,60.00,"100 מ""ל",16.9,28.1700,1,shufersalPrices
4,PriceFull7290027600007-002-202111180330,002,2021-11-18,2018-01-23 08:37,11210698055,"טבסקו סרירצ'ה 566 מ""ל",מקאילהייני,US,רוטב טבסקו,מיליליטרים,566.00,"100 מ""ל",28.9,5.1100,1,shufersalPrices
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
367506,PriceFull7290803800003-012-202203130745,012,2022-03-13,2016-01-26 16:42:33,7290000889191,אפונה,יצור עצמי,ישראל,אפונה,קילוגרמים,1.00,"ק""ג",39.0,39.0000,1,yohananof1Prices
367507,PriceFull7290803800003-012-202203130745,012,2022-03-13,2020-10-14 11:33:55,7290000889207,מאפה במילוי בשר,יצור עצמי,ישראל,מאפה במילוי בשר,קילוגרמים,1.00,"ק""ג",69.0,69.0000,1,yohananof1Prices
367508,PriceFull7290803800003-012-202203130745,012,2022-03-13,2022-02-27 08:19:34,7290018893005,*מבצע* בייגלה שטוח ח,אלקה קו,רומניה,צוקטה,גרמים,160.00,100 גרם,5.9,0.0369,1,yohananof1Prices
367509,PriceFull7290803800003-012-202203130745,012,2022-03-13,2017-07-23 08:15:42,7290000911014,ארוחת עובד יוחננוף,יצור עצמי,ישראל,ארוחת עובד,יח',1.00,יח',15.0,15.0000,1,yohananof1Prices
367510,PriceFull7290803800003-012-202203130745,012,2022-03-13,2022-03-06 08:46:15,7290000911250,*מבצע* מוקפץ נודלס ו,יצור עצמי,ישראל,מוקפץ נודלס וירקות,קילוגרמים,1.00,"ק""ג",25.0,25.0000,1,yohananof1Prices

In [4]:
df.reset_index(drop=True, inplace=True)
df.to_parquet('/datadrive/lobby99/kimonaim.parq')

In [24]:
metadata=[
 'snifim',
 'sapaks',
]
with tqdm(total=len(metadata)) as pbar:
    for p in metadata:
        pbar.set_description('Processing: %s' % p)
        pbar.update(1)
        q=pd.read_sql_query("SELECT * FROM %s" % p, conn)
        q.to_parquet(f'/datadrive/lobby99/{p}.parq')

  0%|          | 0/2 [00:00<?, ?it/s]